* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  overflow: auto;
}

li {
  background-color: orange;
  min-height: 100px;
}
